$remove-color: #fd5c63;
$add-color: #03C03C;
$remove-hover: #AA0000;
$add-hover: #228B22;

.category-block {
  width: 85%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 22px 0 22px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 85%;

    .task-entry {
      width: 98%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      gap: 8px;

      input {
        width: 100%;
      }

      button {
        all: unset;
      }

      button.task-add {
        color: $add-color;
        cursor: pointer;
      }

      button.task-add:hover {
        color: $add-hover;
      }

      button.task-delete {
        color: $remove-color;
        cursor: pointer;
      }

      button.task-delete:hover {
        color: $remove-hover;
      }
    }

    button.delete {
      all: unset;
      color: $remove-color;
      font-size: 30px;
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
    }

    button.delete:hover {
      color: $remove-hover;
    }

    button.add {
      all: unset;
      padding: 8px;
      border: 1px solid lightgray;
      border-radius: 10px;
      width: 100px;
      text-align: center;
      background-color: $add-color;
      cursor: pointer;
    }

    button.add:hover {
      background-color: $add-hover;
    }
  }
}
