.category-block {
  width: 85%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 22px 0 22px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 85%;

    button.delete {
      all: unset;
      color: red;
      font-size: 30px;
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
    }

    button.add {
      all: unset;
      padding: 8px;
      border: 1px solid lightgray;
      border-radius: 10px;
      width: 100px;
      text-align: center;
      background-color: palegreen;
      cursor: pointer;
    }

    button.add:hover {
      background-color: green;
    }
  }
}
